body {
	background: #f8f8f8;
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid black;
	background: #dfdfdf;
	text-align: center;
}
nav ul li {
	display: inline-block;
	margin-right: -5px;
	width: 33%;
}
nav li a {
	display: block;
	padding: 25px 10px;
	text-decoration: none;
	border-left: 1px solid black;
	margin-left: -1px;
	font: 1.2em bold;
	color: black;
}
nav li:first-child a {
	border-left: none;
}
nav li a:active {
	color: white;
}
h2, h3 {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
	padding-left: 20px;
}
h1 {
	text-align: center;
}
img, p {
	padding-left: 20px;
}
footer {
	height: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	background: #dfdfdf;
	margin-top: 20px;
}