body {
	background: #f8f8f8;
	margin: 0;
	padding: 0;
}
nav + div {
	width: 1000px;
	margin: 0 auto;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #87cefa;
	text-align: center;
}
nav ul li {
	display: inline-block;
	margin-right: -5px;
	width: 33%;
}
nav li a {
	display: block;
	padding: 25px 10px;
	text-decoration: none;
	border-left: 1px solid #4169e1;
	margin-left: -1px;
	font: 1.2em bold;
	color: #4169e1;
}
nav li:first-child a {
	border-left: none;
}
nav li a:active {
	color: orange;
}
h2, h3 {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
	padding-left: 20px;
}
h1 {
	text-align: center;
}
 p {
	padding-left: 20px;
}
img {
	margin-left: 20px;
}
footer {
	height: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	background: #4169e1;
	margin-top: 20px;
	color: yellow;
	padding: 10px;
}
.goods {
	width: 1000px;
	margin: 0 auto;
	background-color: #87cefa;
	border-radius: 20px;
}
.goods ul {
	list-style: none;
	display: block;
	margin: 10px 180px;
	padding:0;
}
.goods ul li {
	display: inline-block;
	width: 35%;
	margin-bottom: 15px;
}
.goods li:nth-child(odd){
	margin-right: 120px;
}
.goods li:nth-child(even){
	margin-left: 60px;
}
header {
	background: #4169e1;
	border-radius: 20px;
	padding: 15px;
	margin-top: 5px;
	margin-bottom: 50px;
}
header> h1 {
	color: yellow;
}
li> p {
	color: #4169e1;
}
.additional + p {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
.detail ~ p {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
h3 + ul li {
	font-family: "Arial";
	font-size: 16px;
	padding: 5px;
}
 h3 + ul {
	list-style-image: url(../img/bullet_yellow.png);
}
img[src^="../"]{
	border:  2px solid #4169e1;
}
.catalog {
	font-family: "Arial";
	font-size: 1.7em;
	background: #f8f8f8;
	text-align: center;
	color: #4169e1;
}
br+ a {
	padding-left: 20px;
	font-size: 16px;
	color: #4169e1;
}
br+ a:active {
	color: black;
}
.pencil {
	margin-left: 0;
}
.pencil ~ a {
	padding-left: 0px;
}
section h1 {
	color: #4169e1;
}
hr + p{
	font-size: 1.2em; 
	font-weight: bold;
}
.contact {
	font-family: "Arial";
	font-size: 1.7em; 
	font-weight: bold;
	text-align: center;
	color: #4169e1;
}